%p#notice= notice
%h1 Users
%table
  %thead
    %tr
      %th Email
      %th Name
      %th Birthday
      %th Address
      %th Postal code
      %th{:colspan => "5"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.birthday
        %td= user.address
        %td= user.postal_code
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
