%p#notice= notice  
%h1 Login
= form_with(model: @user) do |form|
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :pass
    = form.text_field :pass
  .actions
    = form.submit "Login"