%p#notice= notice 

%p
    %strong Email:
    = @user.email

%p
    %strong Name:
    = @user.name

%p
    %strong Birthday:
    = @user.birthday

%p
    %strong Address:
    = @user.address

%p
    %strong Postal code:
    = @user.postal_code

= link_to 'Edit', edit_user_path(@user)
-# |
-# = link_to 'Back', users_path
|
= link_to 'Create new post', new_post_path(user_id: @user.id)

%table
    %thead
        %th Msg
        %th Created at
        %th{:colspan => "2"}
    %tbody
        - @posts.each do |post|
        -# %tr
            -# %td= post.msg
            -# %td= post.created_at
            -# %td= link_to 'Edit', edit_post_path(post)
            -# %td= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }